@import "@/assets/scss/utilities/_functions.scss";
@import "@/assets/scss/utilities/_mixins.scss";
@import "@/assets/scss/utilities/_variables.scss";

@import "@/assets/scss/layout/_params.scss";
@import "@/assets/scss/layout/_theme.scss";

* { box-sizing: border-box; }
html { font-size: 62.5%; }
body {
	background: var(--x-body--background);
	color: var(--x-body--color);
	font-family: var(--x-font-family);
	font-size: var(--x-font-size--base);
  font-weight: var(--x-font-weight--normal);
	line-height: 1.6;
	margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
	-moz-osx-font-smoothing: auto;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	
	/* magic mobile viewport iOS bug fix */
  /* also see: https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
  /* also see: https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
  height: -webkit-fill-available;
  -webkit-overflow-scrolling: auto;

	&::-webkit-scrollbar {
		width: 16px
	}
	
	&::-webkit-scrollbar-thumb {
		height: 56px;
		border-radius: 8px;
		border: 4px solid transparent;
		background-clip: content-box;
		background-color: #ababab
	}
	
  html[data-modal="on"] & {
    overflow: hidden;
    margin-left: calc(100vw - 100%);
  }
}

a {
	-webkit-tap-highlight-color: transparent;
	color: var(--x-color-action);
	cursor: pointer;
	text-decoration: none;
	transition: opacity .1s ease-out,color .1s ease-out;

  &.disabled { pointer-events: none; opacity: .8; }

  @media(hover: hover) {
		&:hover { text-decoration: underline; color: var(--x-color-action--shade30); }
	}

  @media(active: active) {
		&:active { color: var(--x-color-error); }
	}

  &:focus { outline: 0; }
}

*[hidden] { display:none; }
